{% extends "layout" %}

{% block scripts %}
<script src="/scripts/delete.js"></script>
{% endblock %}

{% block content %}
<h2>Üdvözöllek, {{currentUser.username}}!</h2>
Az általad megadott látványosságokat tudod itt kezelni.

<table class="table table-striped" id="table">
  <tbody>
      <tr>
          <td><b>Látványosság neve</b></td>
          <td><b>Adatok szerkesztése</b></td>
          <td><b>Kép módosítása</b></td>
          <td><b>Törlés</b></td>
      </tr>
      {% for sight in sights %}
      <tr>
          <td><a href="/sights/{{sight.id}}">{{sight.name}}</a></td>
          <td><a href="/sights/{{sight.id}}/edit" class="btn btn-info btn-xs">Szerkesztés</a></td>
          <td><a href="/sights/{{sight.id}}/editImage" class="btn btn-warning btn-xs">Kép szerkesztés</a></td>
          <td><a id="delete"  href="/sights/{{sight.id}}/delete" class="btn btn-danger btn-xs delete" role="button">Törlés</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table> 

<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary modal-ok" data-dismiss="modal"> OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}