<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Látványosságok</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet">

    {% block styles %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kezdőlap</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
              <li><a href="/sights">Látványosságok böngészése</a></li>
              <li><a href="/sights/search">Keresés a látványosságok között</a></li>
              {% if currentUser %}
              <li><a href="/sights/create">Látványosság létrehozása</a></li>
              <li><a href="/home">Saját látványosságaim</a></li>
              {% endif %}
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            {% if currentUser %}
              <li class="navbar-text">Szia, {{ currentUser.username }}!</li>
              <li><a href="/logout">Kilépés</a></li>
            {% else %}
              <li><a href="/login">Belépés</a></li>
              <li><a href="/regist">Regisztráció</a></li>
            {% endif %}
          </ul>
          </div>
      </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}      
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    {% block scripts %}{% endblock %}
  </body>
</html>