{% extends "layout" %}

{% block content %}

<p> Köszöntelek a Látványosságokat nyilvántartó oldalamon!
<p> Ez a weboldal segítséget nyújthat egy hétvégi úticél kiválasztásához.
<h2>A legjobb értékeléssel rendelkező nevezetességek:</h2>

{% endblock %}